
html {
  scroll-behavior: smooth;
}
body { 
    font-family: "Monaco", monospace;
    /*background-color: lightpink */
} 

.background-color{
    background-color: bisque;
}

/* All of this is for the nav bar*/
ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: bisque;
}

#navbar li{
  float: right;
  font-size: 18px;
  font-family: "Monaco", monospace;
  margin: left 20px;
}

#navbar li.maintitle{
    float: left;
    font-size: 18px;
    font-family: "Monaco", monospace;
}
.maintitle{
    margin: 0;
    padding:14px 16px;
    float: left;
}

li a{ 
    display: block;
    color: rgb(0, 0, 0, 0.8);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover {
    background-color:rgb(212, 146, 203);
    color: white;
    border-radius: 10%; 
}

/* Nav Bar */
#navbar{
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 997;
  background-color: rgba(255, 228, 196, 0.653);
  pointer-events: auto;
}

/* Picture, Title and Subtitle */

.profile-image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px; 
  padding-bottom: 0px;
}


.img-background{
    background-color: bisque;
}

.name{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: "Monaco", monospace;
    font-size: 40px;
    margin-bottom: 5px;
}

.title{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: "Monaco", monospace;
    font-size: 20px;
    padding-top: 0px;
    margin-bottom: 5px;
}

.subtitle{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: "Monaco", monospace;
    font-size: 15px;
    margin-bottom: 20px;
}
/* Picture, Title and Subtitle */

/* Resume Button*/
.Projects-Button {
  width: fit-content;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  gap: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(120deg,rgb(196,219,180)), rgb(198, 101, 184));
  transition: all 0.3s;
  box-shadow: 0px 10px 10px rgba(199, 11, 171, 0.166);
  margin-left: auto;
  margin-right: auto;
}
.projects-section{
  width: 100%;
  padding: 10px 10px;
  text-align: center;
  position: relative;
  padding: 2rem;
  transition: all 0.6s ease-in-out;
}
.button-link{
  text-decoration: none;
  display: inline-block;
}
.IconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  position: relative;
}
.svgBG {
  width: 25px;
  height: auto;
}
.svgFG {
  width: 9px;
  height: auto;
  z-index: 2;
  position: absolute;
}
.text {
  color: rgb(240, 240, 240);
  font-weight: 500;
  font-size: 16px;
}
.Projects-Button:hover .svgFG {
  animation: clockwise 2s linear infinite;
}
.Projects-Button:hover .svgBG {
  animation: anti-clockwise 2s linear infinite;
}
@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes anti-clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.Projects-Button:hover {
  background-color: rgb(119, 57, 166);
}
/* Button Code End */

.rounded-hr{
  border-top: 5px solidrgb(196,219,180));
  border-radius: 10px;
  margin-top: 10px;
}

.introduction-para{
  padding-top: 10px;
  font-size: 17px;
  font-family: "Monaco", monospace;
  line-height: 2;

}

.titles{
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}


/* Project Section Transistions */
.projects-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: auto;
  padding-left: 4rem;
  margin-bottom: 1rem;
  transform: translateY(0);
  transition: all 0.6s ease-in-out;
}

.projects-section.focused .projects-header {
  justify-content: flex-start;
  align-items: flex-start;
  transform: translateY(-0.5rem);
  padding-left: 2rem;
}

.projects-section.focused .projects-title {
  font-size: 1.5rem;
  font-family: "Monaco", monospace;
  font-weight: normal;
}
.projects-title {
  font-size: 1.5rem;
  margin-bottom: 0rem;
  transition: all 0.6 ease-in-out;
  margin: 0;
  text-decoration: underline;
  text-align: center;
  font-family: "Monaco", monospace;
  font-weight: normal;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  transition: all 0.6s ease-in-out;
  justify-content: center;
  overflow-x: auto;
  max-width: 1400px;
  margin: 0 auto;
}

.project-card {
  width: 100%;
  max-width: none;
  text-align: center;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  cursor: pointer;
  box-sizing: border-box;
  flex: 1 1 calc(33.33% - 1rem);

}



.projects-section.focused .projects-grid {
  opacity: 0;
  pointer-events: none;
}

.projects-section.focused .projects-grid {
  transform: translate(-40vw, -3rem) scale(0.9);
  text-align: left;
}

.selected-project-name {
  position: absolute;
  top: 5rem;
  left: 4rem;
  font-size: 1.5rem;
  font-family: "Monaco", monospace;
  opacity: 0;
  transition: all 0.6s ease-in-out;
  transform:translate(-10px);
  color: black;
}

.projects-section.focused .selected-project-name {
  opacity: 1;
  transform: translateY(0);
}

#backButton {
  display: none;
  position: relative;
  top: 1rem;
  right: 1rem;
  background-color: white;
  color: black;
  border: 2px solid black;

  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Monaco", monospace;
  transition: background-color 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
 
#backButton:hover {
  background-color: #444;
  color: white;
}
/* project img edit*/

.project-img1{
  border-radius: 20px;
  opacity: 1;
  backface-visibility: hidden;
  transition: 0.5s ease;
  width: 100%;
}
.project-img2{
  border-radius: 20px;
  backface-visibility: hidden;
  transition: 0.5s ease;
  opacity: 1;
  width: 100%;
}
.project-img3{
  border-radius: 20px;
  backface-visibility: hidden;
  transition: 0.5s ease;
  opacity: 1;
  width: 100%;
}

.container{
  position: relative;
  margin-bottom: 20px;
  flex: 1 1 calc(33.33% - 2rem);
  box-sizing: border-box;
  max-width: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color:rgb(196,219,180));
  border-radius: 20px;
  transition: 0.5s ease;
}

.container:hover .overlay {
  opacity: 1;
} 



.project-title-text1, .project-title-text2, .project-title-text3 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Monaco", monospace;
    margin-top: 0.5rem;
  font-size: 1.5rem;
  transition: all 0.6s ease-in-out;
  background-color:rgb(196,219,180));
  font-family: "Monaco", monospace;
}


/* Button Style */

.summary-button {
  font-family: "Monaco", monospace;
  background-color:rgb(212, 146, 203) ;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size:  18px; 
  transition: background-color 0.3s ease;
}

.summary-button:hover {
  background-color:rgb(196,219,180));
}
.modal {
  display: none;
  position: fixed;
  z-index: 998;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  animation: fadeIN 0.4s ease;
}

.modal-content { 
  position: relative;
  background-color: #ffff;
  margin: 10% auto;
  padding: 30px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  font-family: "Monaco", monospace;
  animation: scaleIn 0.4s ease;
}

.close:hover {
  color: #000;
}

@keyframes fadeIn {
  from {background-color: rgba(0,0,0,0);}
  to {background-color: rgba(0,0,0,0.5);}
}

@keyframes scaleIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  
  100% {
    transform: scale(1);
    opacity: 1;
  }
}